#不支持文件名中包含短横线

node_modules/
dist/
.cache

.project
*.class
*.log
*.properties
!log4j.properties
!application*.properties

#压缩文件
/out/
bin/
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z

#IDEA
.idea/
*.iws
*.iml
*.ipr

#Eclipse
.settings/
.classpath
.project

#SVN
.svn/
