body {
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(10px + 0.33vw);
    -webkit-font-smoothing: antialiased;
    color: #121314;
}

#title {
    margin: 2em 1.33em;
    position: relative;
}

#title:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, .8, .13, 1);
    background-color: rgba(173, 216, 230, 0.5);
}

#title:hover:after {
    top: 0;
}

#content {
    margin: 1.33em;
    padding: 1.33em;
    border: 1px solid lightblue;
}
